/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Bree Serif", serif;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testoAlternato {
  border: 2px solid gray;
  padding: 1.5em;
  padding-right: 4em;
}

.parole {
  color: #6a889c;
  position: relative;
}

i {
  position: absolute;
  margin-left: 0.3em;
  width: 150px;
}

#alternative1 {
  opacity: 0%;
  animation: slotmachine 10s 2s ease infinite;
}

#alternative2 {
  opacity: 0%;
  animation: slotmachine 10s 5s ease infinite;
}
#alternative3 {
  opacity: 0%;
  animation: slotmachine 10s 9s ease infinite;
}

@keyframes slotmachine {
  0% {
    transform: translateY(-70px);
    opacity: 0%;
  }
  20% {
    opacity: 30%;
  }
  40% {
    opacity: 100%;
    transform: translateY(0px);
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    transform: translateY(50px);
  }
}
